main {
    // background-color: lightblue;
}

// taken from simple spa demo, page and active class idea 
.page {
    box-sizing: border-box;
    min-height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 1;
    &.active {
        opacity: 1;
        z-index: 100;
    }
}

#backbutton{
    z-index: 200;

    //creating the floating action button:
    //set with and height
    width: 70px;
    height: 70px;

    //make the font size bigger:
    font-size: 25px;

    //make button bright red for now
    background-color: #278231;

    //make button a circle and give it a box shadow to look like its floating
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 #333;

    position: fixed;
    top: 85vh;

}
