@import 'variables';
@import 'mixins';

html {
    background-color: $bg-accent-color;
}

// taken from simple spa demo, page and active class idea
//mobile first display, then make media queries for larger screens
.page {
    box-sizing: border-box;
    min-height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    @include flex(column, center);
    opacity: 0;
    z-index: 1;
    color: $text-color;
    &.active {
        opacity: 1;
        z-index: 100;
    }
    background-color: $bg-accent-color;
    form{
        @include flex(column, center);
        color: $card-color;
        background-color: $bg-color;
        padding: 10vw;
        border-radius: 10px;
        margin: 20px;
        font-size: 18px;
        button{
            margin: 20px;
            font-size: 1.2em;
            color: $bg-color;
            background-color: $card-color;
            border-radius: 4px;
            border: 2px solid transparent;
            &:hover{
                border: 2px solid $card-accent-color;
            }
        }
    }
    input[type=text]{
        // border: 2px solid $card-color;
        background-color: $text-color;
    }
}

#backbutton{
    z-index: 200;
    opacity: 0;

    //creating the floating action button:
    //set with and height
    width: 70px;
    height: 70px;

    //make the font size bigger:
    font-size: 25px;

    //make button bright red for now
    background-color: $card-color;

    //make button a circle and give it a box shadow to look like its floating
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 $text-color;

    position: fixed;
    top: 85vh;
    left: 78vw;

}

//styling on the search results page, mobile view
#searchresults{
    // display: flex;
    // flex-flow: row wrap;
}
//styling on the actor profiles in the search results
.actor{
    float: left;
    img{
        width: 100px;
        height: 100px;
        border-radius: 15px;
    }
}

//styling on the movie div in the actors page
.movie{
    margin-top: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: center;
    border: 2px solid $text-color;

    width: inherit;

    img{
        //pushing the image to the bottom of the div
        //will find out later why there is the tiniest amout of space at the
        //bottoom that is open
        margin-bottom: 0;
        position: relative;
        top: 6px;

        //set a default width and height for the image, change once
        //this design is responsive
        width: 200;
        height: 300;
    }
}

//styling for the cast on the movie detail screen
#cast{
    text-align: center;
    @include flex(column, center);
    justify-content: space-around;
    .actor-credit{
        width: 300px;
        height: 100px;
        padding-bottom: 20px;
    }
    img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        float: left;
    }
    #tv-creators{
        display: flex;
        flex-direction: row;
        .creator{
            img{
                float: left;
            }
        }
    }
}

//styling for the movie details entire screen
#moviedetails{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

//incase we get a tvshow in the results we will 
//make some styling indicators that you cannot click this
//as it is a tvshow
.tv{
    opacity: 0.5;
    background-color: #FF0000;
}

